@font-face
  font-family 'fontello'
  src url("css/fonts/fontello.eot?49724560")
  src url("css/fonts/fontello.eot?49724560#iefix") format('embedded-opentype'), url("css/fonts/fontello.woff?49724560") format('woff'), url("css/fonts/fontello.ttf?49724560") format('truetype'), url("css/fonts/fontello.svg?49724560#fontello") format('svg')
  font-weight normal
  font-style normal

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family  "fontello"
  font-style  normal
  font-weight  normal
  speak  none
  display  inline-block
  text-decoration  inherit
  width  1em
  margin-right  .2em
  text-align  center
  font-variant  normal
  text-transform  none
  line-height  1em
  margin-left  .2em

.icon-angle-circled-up:before
  content  '\e801'
.icon-angle-circled-down:before
  content  '\e800'
.icon-twitter-circled:before
  content  '\e803'
.icon-facebook-circled:before
  content  '\e802'
.icon-gplus-circled:before
  content  '\e804'